src/train/train.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
  vc:minVersion="1.1">

  <!-- Root element -->
  <xs:element name="train">
    <xs:complexType>
      <xs:all>
        <xs:element name="system-prompts" type="SystemPromptsType" minOccurs="0" />
        <xs:element name="samples" type="SamplesType" />
        <xs:element name="prompts" type="PromptsType" minOccurs="0" />
        <xs:element name="responses" type="ResponsesType" minOccurs="0" />
        <xs:element name="sources" type="SourcesType" minOccurs="0" />
        <xs:element name="code-snippets" type="CodeSnippetsType" minOccurs="0" />
        <xs:element name="constants" type="ConstantsType" minOccurs="0" />
        <xs:element name="phrases" type="PhrasesType" minOccurs="0" />
        <xs:element name="beyond-scope" type="BeyondScopeType" minOccurs="0" />
      </xs:all>
    </xs:complexType>

    <!-- Unique constraints for cross-referencing -->
    <xs:key name="systemIdKey">
      <xs:selector xpath="system-prompts/system" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="promptIdKey">
      <xs:selector xpath="prompts/prompt" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="responseIdKey"> <!-- Renamed from paragraphIdKey -->
      <xs:selector xpath="responses/response" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="sourceIdKey">
      <xs:selector xpath="sources/source" />
      <xs:field xpath="@id" />
    </xs:key>

    <xs:key name="codeIdKey">
      <xs:selector xpath="code-snippets/code" />
      <xs:field xpath="@id" />
    </xs:key>

    <!-- References for sample-ids attributes -->
    <xs:keyref name="sampleIdsSystemRef" refer="systemIdKey">
      <xs:selector xpath="samples/sample-ids" />
      <xs:field xpath="@system" />
    </xs:keyref>

    <xs:keyref name="sampleIdsPromptRef" refer="promptIdKey">
      <xs:selector xpath="samples/sample-ids" />
      <xs:field xpath="@prompt" />
    </xs:keyref>

    <xs:keyref name="sampleIdsResponseRef" refer="responseIdKey"> <!-- Renamed from paragraph -->
      <xs:selector xpath="samples/sample-ids" />
      <xs:field xpath="@response" />
    </xs:keyref>

    <xs:keyref name="sampleIdsSourceRef" refer="sourceIdKey">
      <xs:selector xpath="samples/sample-ids" />
      <xs:field xpath="@source" />
    </xs:keyref>

    <xs:keyref name="sampleIdsCodeRef" refer="codeIdKey">
      <xs:selector xpath="samples/sample-ids" />
      <xs:field xpath="@code" />
    </xs:keyref>

    <!-- References for response-ids attributes -->
    <xs:keyref name="responseIdsResponseRef" refer="responseIdKey">
      <xs:selector xpath=".//response-ids" />
      <xs:field xpath="@response" />
    </xs:keyref>

    <!-- References for beyond-scope system -->
    <xs:keyref name="beyondScopeSystemRef" refer="systemIdKey">
      <xs:selector xpath="beyond-scope" />
      <xs:field xpath="@system" />
    </xs:keyref>

    <!-- References for beyond-scope response -->
    <xs:keyref name="beyondScopeResponseRef" refer="responseIdKey">
      <xs:selector xpath="beyond-scope" />
      <xs:field xpath="@response" />
    </xs:keyref>

    <xs:keyref name="responseIdsSourceRef" refer="sourceIdKey">
      <xs:selector xpath=".//response-ids" />
      <xs:field xpath="@source" />
    </xs:keyref>

    <xs:keyref name="sourceIdElementRef" refer="sourceIdKey">
      <xs:selector xpath=".//source-id" />
      <xs:field xpath="." />
    </xs:keyref>

    <xs:keyref name="codeIdElementRef" refer="codeIdKey">
      <xs:selector xpath=".//code-id" />
      <xs:field xpath="." />
    </xs:keyref>

    <xs:keyref name="promptIdRef" refer="promptIdKey">
      <xs:selector xpath="samples/sample/prompt" />
      <xs:field xpath="@id" />
    </xs:keyref>

    <xs:keyref name="responseIdRef" refer="responseIdKey">
      <xs:selector xpath="samples/sample/response" />
      <xs:field xpath="@id" />
    </xs:keyref>

    <xs:keyref name="responseIdsResponseIdRef" refer="responseIdKey">
      <xs:selector xpath="samples/sample/response-ids" />
      <xs:field xpath="@response" />
    </xs:keyref>

    <xs:keyref name="sourceIdRef" refer="sourceIdKey">
      <xs:selector xpath="samples/sample/source" />
      <xs:field xpath="@id" />
    </xs:keyref>

    <xs:keyref name="codeIdRef" refer="codeIdKey">
      <xs:selector xpath="samples/sample/code" />
      <xs:field xpath="@id" />
    </xs:keyref>
  </xs:element>

  <!-- System prompts type definition -->
  <xs:complexType name="SystemPromptsType">
    <xs:sequence>
      <xs:element name="system" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:attribute name="id" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Samples type definition - now flat list of mixed elements -->
  <xs:complexType name="SamplesType">
    <xs:sequence>
      <xs:choice maxOccurs="unbounded">

        <!-- Sample w/ id attributes & no children -->
        <xs:element name="sample-ids">
          <xs:complexType>
            <xs:attribute name="system" type="xs:string" use="optional" />
            <xs:attribute name="prompt" type="xs:string" use="required" />
            <xs:attribute name="response" type="xs:string" use="optional" /> <!-- Renamed from
            paragraph -->
            <xs:attribute name="code" type="xs:string" use="optional" />
            <xs:attribute name="source" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>

        <!-- Sample w/ children xml tags -->
        <xs:element name="sample">
          <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
              <!-- System reference -->
              <xs:element name="system">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>

              <!-- Prompt reference (required at least once) -->
              <xs:element name="prompt">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>

              <!-- Response reference (can appear multiple times) -->
              <xs:element name="response">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>

              <!-- Source reference -->
              <xs:element name="source">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>

              <!-- Code reference -->
              <xs:element name="code">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="id" type="xs:string" use="required" />
                      <xs:attribute name="indent" use="optional">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="1" />
                            <xs:enumeration value="2" />
                            <xs:enumeration value="3" />
                            <xs:enumeration value="4" />
                            <xs:enumeration value="5" />
                            <xs:enumeration value="6" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                      <xs:attribute name="inline" type="xs:boolean" use="optional" default="false" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>

              <!-- Response-ids element (renamed from paragraph-ids) -->
              <xs:element name="response-ids">
                <xs:complexType>
                  <xs:attribute name="response" type="xs:string" use="required" />
                  <xs:attribute name="source" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>

              <!-- Line break element -->
              <xs:element name="line-break">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="count" use="required">
                        <xs:simpleType>
                          <xs:restriction base="xs:integer">
                            <xs:enumeration value="1" />
                            <xs:enumeration value="2" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:attribute>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <!-- Responses type definition (renamed from ParagraphsType) -->
  <xs:complexType name="ResponsesType">
    <xs:sequence>
      <xs:element name="response" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:attribute name="id" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Prompts type definition -->
  <xs:complexType name="PromptsType">
    <xs:sequence>
      <xs:element name="prompt" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:attribute name="id" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Sources type definition -->
  <xs:complexType name="SourcesType">
    <xs:sequence>
      <xs:element name="source" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="id" type="xs:string" use="required" />
          <xs:attribute name="url" type="xs:string" use="required" />
          <xs:attribute name="title" type="xs:string" use="optional" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- CodeSnippets type definition with restricted languages -->
  <xs:complexType name="CodeSnippetsType">
    <xs:sequence>
      <xs:element name="code" maxOccurs="unbounded">
        <xs:complexType mixed="true">
          <xs:attribute name="id" type="xs:string" use="required" />
          <xs:attribute name="lang" use="required">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="rust" />
                <xs:enumeration value="html" />
                <xs:enumeration value="css" />
                <xs:enumeration value="ts" />
                <xs:enumeration value="tsx" />
                <xs:enumeration value="bash" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- Constants -->
  <xs:complexType name="ConstantsType">
    <xs:all>
      <!-- Memory and Performance Targets -->
      <xs:element name="aim_train_gb" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Goal max memory used at any moment during training in GB. Used to calculate optimal model parameters like the context window size, number of layers and embedding dimensions. Default: 7.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="aim_infer_gb" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Goal max memory used at any moment during inference in GB. Used to calculate optimal model parameters like the context window size, number of layers and embedding dimensions. Default: 0.9</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="aim_loss" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Goal loss value during training. Training stops when loss reaches aim_loss. Default: 0.45</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="learning_rate" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Learning rate for optimizer. Auto-scaled based on effective batch size. Default: 0.001 * (batch_size * grad_acc / 32)</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="warmup_steps" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of warmup steps for learning rate scheduler. Auto-scaled based on batch size. Default: 360 * (32 / effective_batch_size)</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="val_interval" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Run validation every N steps. Default: 10</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="batch_size" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of samples per batch. Auto-selected based on device and aim_train_gb. CPU: 1, Metal: 2-8, CUDA: 8-64</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="mixed_precision" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Enable mixed precision training (FP16/BF16). Default: false for CPU, true for Metal/CUDA</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="gradient_accumulation_steps" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of steps to accumulate gradients before update. CPU: 1, Metal: 4, CUDA: 8</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <!-- Quantization Precision Settings -->
      <xs:element name="activation_precision" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Precision for activations: "fp32", "int8". Default: fp32 for CPU, int8 for Metal/CUDA</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="fp32" />
            <xs:enumeration value="int8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="kv_cache_precision" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Precision for KV cache: "int8", "int4", "fp8". Default: "int8"</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="int8" />
            <xs:enumeration value="int4" />
            <xs:enumeration value="fp8" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="rope_precision" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Precision for RoPE embeddings: "fp32", "fp16". Default: fp32 for CPU, fp16 for Metal/CUDA</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="fp32" />
            <xs:enumeration value="fp16" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      
      <!-- System Configuration -->
      <xs:element name="num_workers" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Number of data loading workers. CPU: CPU cores, Metal: 4, CUDA: 8</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="use_flash_attention" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Enable Flash Attention optimization. Default: false for CPU, true for Metal/CUDA</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="use_tensor_cores" type="xs:boolean" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Enable NVIDIA Tensor Cores (CUDA only). Default: true for CUDA, false otherwise</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <!-- BPE Tokenizer Configuration -->
      <xs:element name="bpe_min_merge_frequency" type="xs:integer" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Minimum frequency for BPE merges. Lower = more merges, larger vocabulary. Default: 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="bpe_requested_tokens" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Specific tokens to force-include in BPE vocabulary. Use multiple value elements for each token.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="value" type="xs:string" maxOccurs="unbounded">
              <xs:annotation>
                <xs:documentation>A single token to include in BPE vocabulary (e.g., "function", "console.log")</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      
      <!-- Weight Decay Regularization -->
      <xs:element name="weight_decay_response" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Weight decay for response tokens. Higher = stronger regularization. Default: 0.01</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="weight_decay_source" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Weight decay for source tokens. Higher = stronger regularization. Default: 0.05</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="weight_decay_code" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Weight decay for code tokens. Higher = stronger regularization. Default: 0.02</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <!-- Dropout Rates -->
      <xs:element name="dropout_rate_response" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Dropout rate for response tokens. 0 = no dropout, 1 = all dropped. Default: 0.1</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="dropout_rate_source" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Dropout rate for source tokens. 0 = no dropout, 1 = all dropped. Default: 0.05</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="dropout_rate_code" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Dropout rate for code tokens. 0 = no dropout, 1 = all dropped. Default: 0.15</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <!-- Loss Scaling -->
      <xs:element name="loss_scale_response" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Loss scaling factor for response tokens. Adjusts contribution to total loss. Default: 1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="loss_scale_source" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Loss scaling factor for source tokens. Adjusts contribution to total loss. Default: 0.2</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="loss_scale_code" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Loss scaling factor for code tokens. Adjusts contribution to total loss. Default: 1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <!-- Gradient Scaling -->
      <xs:element name="gradient_scale_response" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Gradient scaling factor for response tokens. Default: 1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="gradient_scale_source" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Gradient scaling factor for source tokens. Default: 2.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="gradient_scale_code" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Gradient scaling factor for code tokens. Default: 1.2</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <!-- Gradient Clipping -->
      <xs:element name="gradient_clip_response" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maximum gradient norm for response tokens. Default: 1.0</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="gradient_clip_source" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maximum gradient norm for source tokens. Default: 0.0 (no clipping)</xs:documentation>
        </xs:annotation>
      </xs:element>
      
      <xs:element name="gradient_clip_code" type="xs:float" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Maximum gradient norm for code tokens. Default: 0.7</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>

  <!-- Phrases type definition -->
  <xs:complexType name="PhrasesType">
    <xs:sequence>
      <xs:element name="phrase" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="variant" maxOccurs="unbounded">
              <xs:complexType>
                <xs:attribute name="value" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="pattern" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- BeyondScope type definition -->
  <xs:complexType name="BeyondScopeType">
    <xs:sequence>
      <xs:element name="topic" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="value" type="xs:string" use="required" />
          <xs:attribute name="prefix" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="system" type="xs:string" use="required" />
    <xs:attribute name="response" type="xs:string" use="required" />

    <!-- Boolean attributes for common topic categories -->
    <xs:attribute name="sports" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="food" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="movies" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="history" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="geography" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="politics" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="science" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="health" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="art" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="music" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="fashion" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="travel" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="pets" type="xs:boolean" use="optional" default="false" />
    <xs:attribute name="cars" type="xs:boolean" use="optional" default="false" />
  </xs:complexType>
</xs:schema>